.scrollable{
  overflow-y: auto;
  max-height: 500px;
}

.btn-teal {
	background-color: teal;
	color: white;	
}
.btn-teal {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-teal:hover {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}

.btn-teal:focus, .btn-teal.focus {
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.btn-teal.disabled, .btn-teal:disabled {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-teal:not(:disabled):not(.disabled):active, .btn-teal:not(:disabled):not(.disabled).active,
.show > .btn-teal.dropdown-toggle {
  color: #fff;
  background-color: #117a8b;
  border-color: #10707f;
}

.btn-teal:not(:disabled):not(.disabled):active:focus, .btn-teal:not(:disabled):not(.disabled).active:focus,
.show > .btn-teal.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}