<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default.html}">
<head>
<title>FDADI FAQ</title>
</head>
<body>
	<div class="container" layout:fragment="content">

		<div class="row mt-3">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Frequently Asked Questions</h4>
						<p class="card-text text-danger">This website is for demonstration purposes. Information in this website should not be taken as medical advice.</p>

						<dl id="faqs">
							<dt>What is FDADI?</dt>
							<dd>FDADI is a demo site created to test clearAvenue's devsecops paradigm.</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>